.cartelera-wrapper {
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #ffffff;
}

.slidebar {
    width: 200px;
    height: 20px;
    background-color: rgb(34, 194, 146);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.cartelera-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 25rem;
    background-color: rgb(176, 192, 51);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.93);
    text-align: center;
}

.pelicula-tarjeta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.93);
    text-align: center;

}

.pelicula-imagen{
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.pelicula-info{
    color: white;
    font-size: 14px;
    margin-bottom: 0.5rem;
}

.pelicula-acciones{
    display: flex;
    justify-content: space-between;
    width: 100%;
}