.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
}

.login-container {
    width: 300px;
    padding: 2rem;
    background-color: black;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.93);
    text-align: center;
}

.login-container h1 {
    margin-bottom: 1.5rem;
    color: white;
}

.login-input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.login-button {
    width: 100%;
    padding: 0.5rem;
    background-color: #0004fb;
    border: 1px solid #000000;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}

.login-button:hover {
    background-color: #0000d1;
}

.login-error {
    color: red;
    margin-bottom: 1rem;
}